* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(248, 246, 246);
  }
  
  #submit {
    width: 70%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    display: block;
    margin: 15px 0px;
    font-size: 20px;
    padding: 2%;
    margin-bottom: -10px;
  }
  /* Navbar related css */
  
  /* Form related css */
  
  input,
  select {
    display: block;
    margin: 15px 0px;
    font-size: 20px;
    padding: 2%;
    margin-bottom: -10px;
  }
  option {
    font-size: 25px;
  }
  form {
    width: 400px;
    border: 1px solid rgb(230, 230, 230);
    margin: 3% auto;
    padding: 3%;
    background: white;
  }

  h1{
    text-align: center;
  }